<h2>Edit: <%= @goal.content %></h2>

<form action="/goals/<%=@goal.slug %>" method="POST">
<input type="hidden" name="_method" value="PATCH">
  <label> Edit your goal's content: </label>
  <input type="text" name="content" value="<%=@goal.content %>"> 
  <br>
  <label> Edit your by when: </label>
  <!--value for date does not pre populate  "2018-07-22"-->
  <!--<input type="date" name="by_when" value="<%= @goal.by_when %>"> -->
  <input type="date" name="by_when" value="<%= @goal.by_when.to_s[0..9] %>">
  <br>
  <label> Check if completed: </label>
  <!--<input type="checkbox" name="completed" value="on" if ><%= @goal.completed == "completed" %>-->
    <input type="checkbox" name="completed" value="<%= @user.id %>" <%='checked' if @goal.completed %>></input><br> 

  <br>
  <input type="submit" value="Update">
</form>