<h2>Edit: <%= @goal.content %></h2>

<form action="/goals/<%=@goal.id %>" method="POST">
<input type="hidden" name="_method" value="PATCH">
  <label> Edit your goal's content: </label>
  <input type="text" name="content" value="<%=@goal.content %>"> 
  <br>
  <label> Edit your by when: </label>
  <!--value for date does not pre populate -->
  <input type="date" name="by_when" value="<%=@goal.by_when %>"> 
  <br>
  <label> Check if completed: </label>
  <input type="checkbox" name="completed"><%= @goal.completed = "completed" %>
  <br>
  <input type="submit" value="Update">
</form>