<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h2>Hello <%= "#{@user.username}" %></h2>

<div class="row">
  <div class="column" style="background-color: rgb(216, 78, 36);">
    <h2>Goals to be completed:</h2>
    
    <% @not_completed_goals.each_with_index  do |not_completed_goal, index|%>
        <p><%= "#{index+1}.  #{not_completed_goal.content}" %></p>
        <p>By when: <%= "#{not_completed_goal.by_when}"%></p>
        <p>Created at: <%= "#{not_completed_goal.created_at}"%></p>

        <p><a href=<%="/goals/#{not_completed_goal.id}/edit"%>>Edit this goal</a></p>
    <% end %>
    
        

    <br>

    
  </div>
  <div class="column" style="background-color: rgb(132, 182, 199);">
  
    <h2>Completed goals!!!</h2>
    
    <p><% @completed_goals.each_with_index do |completed_goal, index| %>
    
            <p><%= "#{index+1}.  #{completed_goal.content}" %></p>
            <p>By when: <%= "#{completed_goal.by_when}"%></p>
            <p>Created at: <%= "#{completed_goal.created_at}"%></p>
            <p><a href=<%="/goals/#{completed_goal.id}/edit"%>>Edit this goal</a></p>
    
    <% end %>

        

    <br>
  </div>
</div>
 
    <p>Percentage of Goals Completed: <%= @percentage_complete %></p>
    <p><a href="/goals/new">Make a new goal</a></p>
    <br>

    <p><a href="/logout">Log Out</a></p></p>

</body>
</html>

<h2></h2>

    
